{% extends 'authentication/main.html' %}
{% load static %}

{% block title %}
Home
{% endblock %}

{% block content %}

<div class="balance">
    Bal : <span>&#8377;</span> {{cur_balance}}
  </div>
        
        <!-- main -->
        <div class="main" id="main">
            <div class="mainContent">
                <div >
                    <h1 class="mainText" style="font-size: 40px;">Find Your Best Real Estate</h1>
                </div>
                <div >
                    <p style="font-size:18px ;margin-bottom: 1rem;" class="subText">We handle everything for you under one roof.Now you finally save all the stress, time and extra
                        costs,with hundreds of design possibilities from leading architects</p>
                </div>
                <div class="option" style="">
                    <div>
                        <strong>City/Streets</strong>
                        <p>New York</p>
                    </div>
                    <div>
                        <strong>Select-Property</strong>
                        <p>Minimalist</p>
                    </div>
                    <div>
                        <strong>Select-Price</strong>
                        <p>20 Lac - 10 Crore</p>
                    </div>
                    <a href="{% url 'buy' %}" class="searchIcon">
                        <img height="30px" width="30px" src="{% static 'images/search.png' %}">
                    </a>
                </div>
            </div>
        </div>

        <!-- feature -->
        <div class="feature" id="feature" style="padding: 2rem;" >
            <div class="containers" style="padding-top: 4rem;">
                <div style="display: flex;justify-content: center;align-items: center;">
                    <hi style="font-size:30px ; text-transform: uppercase;margin-bottom: 3rem;text-align: center;clip-path: polygon(100% 0,93% 50%,100% 99%,0% 100%,7% 50%,0% 0%);padding: 1rem 2rem;  background-color: black;">Feature Properties</hi>
                </div>
                <div class="row">
                    <div class="col-md-4 col-lg-4 col-sm-12">
                        <div class="card cards" style="">
                            <img class="card-img-top featureImage" src="{% static 'images/Features-p-01.jpg' %}" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Kherwadi, Bandra East, Mumbai</h5>
                                <div class="price-property">
                                    <div class="price">
                                        <strong>₹2,960,000</strong>
                                    </div>
                                    <div class="for-sale">
                                        <p>(For sale)</p>
                                    </div>
                                </div>
                                <div class="property-details">
                                    <p>Beds : 4</p>
                                    <p>Sq. Ft : 5,000</p>
                                    <p>Baths : 4 | 1</p>
                                </div>
                                <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                                <a href="#" class="btn btn-primary">View property</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4 col-sm-12">
                        <div class="card cards" style="">
                            <img class="card-img-top featureImage" src="{% static 'images/Features-p-02.jpg' %}" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Nishigandha, Bandra East, Mumbai</h5>
                                <div class="price-property">
                                    <div class="price">
                                        <strong>₹4,580,000</strong>
                                    </div>
                                    <div class="for-sale">
                                        <p>(For sale)</p>
                                    </div>
                                </div>
                                <div class="property-details">
                                    <p>Beds : 5</p>
                                    <p>Sq. Ft : 5,500</p>
                                    <p>Baths : 5 | 2</p>
                                </div>
                                <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                                <a href="#" class="btn btn-primary">View property</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4 col-sm-12">
                        <div class="card cards" style="">
                            <img class="card-img-top featureImage" src="{% static 'images/Features-p-03.jpg' %}" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Chikhal dongari, Mumbai</h5>
                                <div class="price-property">
                                    <div class="price">
                                        <strong>₹2,000,000</strong>
                                    </div>
                                    <div class="for-sale">
                                        <p>(For sale)</p>
                                    </div>
                                </div>
                                <div class="property-details">
                                    <p>Beds : 2</p>
                                    <p>Sq. Ft : 3,000</p>
                                    <p>Baths : 2 | 1</p>
                                </div>
                                <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                                <a href="#" class="btn btn-primary">View property</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- service -->
        <div class="service" id="service">
            <div style="text-align: center;display: flex;justify-content: center;align-items: center;flex-direction: column;padding-top: 5rem;">
                <h1>The <span style="color: crimson;font-size: 35px;">Services</span> You Get From Restate</h1>
                <p style="font-size: 18px;">Some people choose price as primary reason, Those companies that get customers because of low price will loose those customers.</p>
            </div>
            <div class="containers">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="card serviceCard">
                            <i style="color:black" class="fa-solid fa-house"></i>
                            <div class="card-body serviceContent">

                              <h5 class="card-title" style="font-weight: bold;font-size: 35px;">Buy Properties</h5>
                              <p class="card-text">Find 19975+ latest real estate properties for safe in April 2021 . Search by price, size and preferred location.</p>
                                <div style="display: flex;justify-content: center;align-items: center;">
                                    <button class="btn btn-primary">View More</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="card serviceCard">
                            <div class="card-body serviceContent">
                              <h5 class="card-title" style="font-weight: bold;font-size: 35px;">Sell Properties</h5>
                              <p class="card-text">Sale is a transfer of ownership In exchange for a price paid or promised or part paid and part promised.</p>
                              <div style="display: flex;justify-content: center;align-items: center;">
                                <button class="btn btn-primary">View More</button>
                            </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="card serviceCard">
                            <div class="card-body serviceContent">
                              <h5 class="card-title" style="font-weight: bold;font-size: 35px;">Construction</h5>
                              <p class="card-text">we dream, create, design, and build the most wonderful place in the world. But it requires people to make the dream a reality.</p>
                              <div style="display: flex;justify-content: center;align-items: center;">
                                <button class="btn btn-primary">View More</button>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    

        <!-- testimonials and footer -->
        <div class="testimonial" id="testimonial">
            <div style="display: flex;justify-content: center;align-items: center;padding-top: 5rem;">
                <hi style="font-size:30px ; text-transform: uppercase;color:white;text-align: center;clip-path: polygon(100% 0,93% 50%,100% 99%,0% 100%,7% 50%,0% 0%);padding: 1rem 2rem;  background-color: black;">Testimonials</hi>
            </div>
            <p style="text-align: center;font-weight: bold;font-size: 18px;margin-top: 1rem;">What our clients say about us.</p>
            <div class="container sliderContainer">
                <div class="slider">
                    <div class="slider_item"> 
                        <div class="card sliderCard">
                            <div class="card-body" style="text-align: center;">
                                <div class="avatar" >
                                    <img src="{% static 'images/t1.png' %}" height="75px" width="75px" style="border-radius: 50%;">
                                </div>
                              <h5 class="card-title">John Lee</h5>
                              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                              <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                          </div>
                    </div>
                    <div class="slider_item">
                        <div class="card sliderCard">
                            <div class="card-body" style="text-align: center;">
                                <div class="avatar" >
                                    <img src="{% static 'images/t2.png' %}" height="75px" width="75px" style="border-radius: 50%;">
                                </div>
                              <h5 class="card-title">Special title treatment</h5>
                              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                              <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                          </div>
                    </div>
                    <div class="slider_item">
                        <div class="card sliderCard">
                            <div class="card-body" style="text-align: center;">
                                <div class="avatar" >
                                    <img src="{% static 'images/t3.png' %}" height="75px" width="75px" style="border-radius: 50%;">
                                </div>
                                <h5 class="card-title">Special title treatment</h5>
                                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                    </div>
                    <div class="slider_item">
                        <div class="card sliderCard">
                            <div class="card-body" style="text-align: center;">
                                <div class="avatar" >
                                    <img src="{% static 'images/t4.png' %}" height="75px" width="75px" style="border-radius: 50%;">
                                </div>
                                <h5 class="card-title">Special title treatment</h5>
                                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                    </div>
                    <div class="slider_item">
                        <div class="card sliderCard">
                            <div class="card-body" style="text-align: center;">
                                <div class="avatar" >
                                    <img src="{% static 'images/t5.png' %}" height="75px" width="75px" style="border-radius: 50%;">
                                </div>
                                <h5 class="card-title">Special title treatment</h5>
                                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                    </div>
                    <div class="slider_item">
                        <div class="card sliderCard">
                            <div class="card-body" style="text-align: center;">
                                <div class="avatar" >
                                    <img src="{% static 'images/t6.png' %}" height="75px" width="75px" style="border-radius: 50%;">
                                </div>
                                <h5 class="card-title">Special title treatment</h5>
                                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                    </div>
                </div>

                <!--  -->
            </div>
        </div>

      

    {% endblock %}

    <script>
        $(document).ready(function(){
           
    $('.slider').slick({
      dots: true,
      infinite: true,
      
      speed: 300,
      slidesToShow: 3,
      slidesToScroll: 1,
      responsive: [
        {
          breakpoint: 1024,
          settings: {
            slidesToShow: 2,
            slidesToScroll: 1,
            infinite: true,
            dots: true
          }
        },
        {
          breakpoint: 600,
          settings: {
            slidesToShow: 2,
            slidesToScroll: 1
          }
        },
        {
          breakpoint: 480,
          settings: {
            slidesToShow: 1,
            slidesToScroll: 1
          }
        }
        // You can unslick at a given breakpoint now by adding:
        // settings: "unslick"
        // instead of a settings object
      ]
    }); 
        });
    </script>
