{% extends 'authentication/main.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <title>HOME PAGE</title>
</head>

<body>
    <div class="mainImage">
        {% include 'authentication/navbar.html' %}
        <!-- --------------------------SALVIN : HOME HTML---------------------------- -->
        <div class="container">
            <div class="content">
                <div class="main-heading">
                    <h1>Find Your Best Real Estate</h1>
                </div>
                <div class="sub-heading">
                    <p>We handle everything for you under one roof.Now you finally save all the stress, time and extra
                        costs,with hundreds of design possibilities from leading architects</p>
                </div>
            </div>
            <div class="dummy-search">
                <div class="search-box">
                    <div class="city-box common-box">
                        <div class="content-city">
                            <p>City/streets</p>
                        </div>
                        <div class="select-city">
                            <strong>New York</strong>
                        </div>
                    </div>
                    <div class="property-box common-box">
                        <div class="content-property">
                            <p>Property Type</p>

                        </div>
                        <div class="select-property">
                            <strong>Minimalist</strong>
                        </div>
                    </div>
                    <div class="price-box common-box">
                        <div class="content-price">
                            <p>Price Range</p>
                        </div>
                        <div class="select-price">
                            <strong>$10,000 - $25,000</strong>
                        </div>
                    </div>
                    <div class="search-box-icon common-box">
                        <div class="search-icon">
                            <a href="#(search)"><img src="{% static 'images/search.png' %}" alt="search-icon"></a>
                        </div>
                    </div>

                </div>
            </div>
        </div>


    </div>
    {% endblock %}
</body>

</html>