{% load static %}
<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <span><a class="nav-link disabled" href="{% url 'logout' %}">Logout</a></span>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav> -->

<!-- --------------------------SALVIN : NAVBAR------------------------- -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
  <script></script>
  <title>Navbar</title>
</head>

<body>
  <header id="header">
    <a href="#(home page)"><img class="logo" src="{% static 'images/real-estate-logo.png' %}" alt="logo-img"></a>
    <div id="toggle"></div>
    <div id="navbar">
      <nav>
        <ul class="nav__links">
          <li><a class="home" href="#home">Home</a></li>
          <li><a href="About" href="#About">About</a></li>
          <li><a href="Features" href="#Features">Features</a></li>
          <li><a href="Pricing" href="#Pricing">Pricing</a></li>
          <a href="{% url 'logout' %}" class="cta-logout"><button>Logout</button></a>
        </ul>
      </nav>
      <!-- <a href="{% url 'register' %}" class="cta-sign-up"><button>Sign Up</button></a> -->
    </div>
  </header>

  <!-- <section id="home">Home</section>
  <section id="About">About</section>
  <section id="Features">Features</section>
  <section id="Pricing">Pricing</section>
  <section id="{% url 'logout' %}">Logout</section> -->

</body>
<script>
  // const header = document.getElementById('header');
  const toggle = document.getElementById('toggle');
  const navber = document.getElementById('navbar');

  // header.onclick = function (e) {
  //   if (e.target.id !== 'header' && e.target.id !== 'toggle' && e.target.id !== 'navbar') {
  //     toggle.classList.remove('active');
  //     navbar.classList.remove('active');
  //   }
  // }

  toggle.onclick = function () {
    toggle.classList.toggle('active');
    navbar.classList.toggle('active');
  }
</script>

</html>