*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

.mainImage{
    height: 100vh;
    width: 100%;
    position: relative;
    background:  linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url('../images/housebg.png');
    background-position: center;
    background-repeat: no-repeat; 
}

.options{
    background-color: aqua;
}

